@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Rubik:wght@300;400;500;600&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none !important;
    text-transform: capitalize;
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: aqua;
}

html{
    font-size: 62.5%;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
}

section{
    padding: 7rem 2rem;
}
.link-btn{
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: .5rem;
    background-color: blueviolet;
    cursor: pointer;
    font-size: 1.7rem;
    color: whitesmoke;
}

.link-btn:hover{
    background-color: black;
    color: white;
}

.header{
    padding: 2rem;
    display: flex;
    box-shadow:0.5rem 1rem rgba(0,0,0,.1);
    align-items: center;
    justify-content: space-between;
}

.header .logo{
    font-size: 1.8rem;
    color: blueviolet;
}

.header .logo span{
    color: black;
}

.header .nav a{
    margin:0 1rem;  
    font-size: 1.7rem;
    color: black;
}

.header .nav a:hover{
    color: blueviolet;
}

#menu-btn{
    font-size: 2.5rem;
    color: black;
    cursor: pointer;
    display: none;
}






















/* media queries */
@media (max-width:991px){

    html{
        font-size: 55%;

    }

    .header .link-btn{
        display: none;
    }

    section{
        padding: 5rem 2rem;
    }
}

@media (max-width:768px){

    section{
        padding: 2rem 1rem;
    }

    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .header .nav{
        position:absolute;
        top: 15%; left: 0; right: 0;
        background-color: wheat;
        border-top: .2rem solid rgba(0,0,0,.1);
        padding: 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
     }

     .header .nav.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
     }

     .header .nav a{
        display: block;
        margin: 1rem 0;
        font-size: 2rem;
     }

}
@media (max-width:450px) {
    
    html{
        font-size: 50%;
    }

}


